*.class

# Package Files #
*.war
*.ear
*.zip

/PercolationAssignment/build/
/PercolationAssignment/nbproject/private/
/PercolationAssignment/dist/
/QueuesAssignment/build/
/QueuesAssignment/nbproject/private/
/QueuesAssignment/dist/
/PatternRecognition/nbproject/private/
/PatternRecognition/build/
/PatternRecognition/dist/